body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

nav {
    text-align: center;
    margin-bottom: 5px;
    position: relative;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.kategori {
    display: none;
}

.kategori.active {
    display: block;
}

ol {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

li a {
    color: #0645AD;
    text-decoration: none;
}

li a:visited {
    color: #551A8B;
}

li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #888;
    border-top: 1px solid #ddd;
    margin-top: 40px;
}

/* Telunjuk animasi */
#telunjuk {
    position: absolute;
    font-size: 24px;
    transition: all 0.4s ease-in-out;
}

.pointer-anim {
  position: absolute;
  font-size: 24px;
  animation: loncat 0.3s ease infinite alternate;
  transition: top 0.3s, left 0.3s;
  z-index: 1000;
}

@keyframes loncat {
  from { transform: translateY(0); }
  to { transform: translateY(-10px); }
}


/*tambah lagi*/
#speakerWrapper {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10;
    text-align: center;
    cursor: pointer;
    width: 30%;
}
#speakerFloating {
  font-size: 36px;
  animation: goyang 1s infinite;
}

#teksMengambang {
  font-size: 14px;
  color: #333;
  background: rgba(255,255,255,0.8);
  padding: 2px 6px;
  border-radius: 8px;
  margin-top: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  animation: teksNaikTurun 2s infinite;
}

@keyframes goyang {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

@keyframes teksNaikTurun {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-4px); }
}